{% extends 'base.html.twig' %}

{% block title %}Litefli | Se connecter{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/tableinscrip.css">

{% endblock %}
{% block body %}

<div class="row">
    <div class="col-md-5">
            <h3 class="mt-8">Connectez-vous avec votre compte</h3>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-primary  btn-sm btn-block" type="submit">
                    Je me connecte
                </button>

                <h5 class="text">Pas de compte ?<a classe="text" href="{{ path('app_register') }}">Inscrivez-vous</a></h5>
            </form>
        
    </div>
</div>

{% endblock %}
